:root{
    --gris:#6c8388;
    --verdeGris:#dde0bd;
    --naranja:#ff7f11;
    --negro:#232020;
    --verdeOscuro:#49575b;
    --beige:#e7ebda;

}
html{
    font-size:62.5%; /*Con esto se hace mas manejables los rem ya que 1rem=10px*/
    box-sizing: border-box; /*Se utiliza para el modelo caja y asi no se sumen los atributos: normales,padding,border y margin */
  
}
  *, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    font-size: 1.6rem;
    width: 100%;
}
h1,h2,h3{
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}

/* Utilidades */



.app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*SideBar*/

.BarraLateral{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color:var(--gris);
    height: 100%;
    width: 17%;
    top: 0;
    left: 0;   
    transition: all 0.5s ease;
    
}
.BarraLateral.active{
    width: 4%;
}
.BarraLateral .Contenedor-logo{
    display: flex;
    align-items: center;
}
.BarraLateral .Contenedor-logo .logo{
    color: black;
    display: flex;
    height: 5rem;
    width: 100%;
    align-items: center;
    cursor: pointer;
    
}
.BarraLateral.active .Contenedor-logo .logo{
    display: none;   
}
.BarraLateral.active .Contenedor-logo i{
    left: 50%;
    justify-content: center;
    align-items: center;
    padding-left: 2%;

}

.elementoLat{
    border-top: 0.3rem solid var(--beige);
    /* border-top: none; */
}
.elementoLat.active{
    /* border-top: 0.3rem solid var(--beige); */
    border-style: none;
    justify-content: center;
    align-items: center;
}
.elementoLat span.active{
    /* opacity: 0; */
    display: none;
}
.elementoLat .iconEL{
    color: #fff;
    font-size: 2.5rem;
} 
.BarraLateral :first-child{
    border-style:none;
}
.elementoLat a{
    list-style: none;
    display: block;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	position: relative;
	padding:1.5rem;
}

.elementoLat a:hover{
    color: #2b2626;
}

.elementoLat a:hover:before{
    width: 95%;
}

.elementoLat a:before{
    content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0%;
	height: 100%;
	background:var(--beige);
	border-radius: 40px 0px 0px 40px;
	z-index: -1;
	transition: all 300ms ease-in-out;
}
.Contenedor-logo i{
    font-size: 3rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
.Contenedor-logo .nombre-logo{
    font-size: 2.5rem;
    font-weight: 500;
}

.wrapper {
	margin-left: 17%;
    background-color: var(--beige);
}
.wrapper.active{
    margin-left: 4%;
    /* transition: all 0.5s ease; */
}

.section {
	display: grid;
	place-items: center;
	min-height: 100vh;
	text-align: center;
}
.box-area h2 {
	text-transform: uppercase;
	font-size: 50px;
}
.box-area p {
	line-height: 2;
}
.box-area {
	width: 75%;
}
.resumen{
    background-color:var(--verdeGris);
    width: 100%;
    height: 30rem;
}
/*  MAIN    */