
:root{
    --gris:#6c8388;
    --verdeGris:#dde0bd;
    --naranja:#ff7f11;
    --negro:#232020;
    --verdeOscuro:#49575b;
    --beige:#e7ebda;

}
html{
    font-size:62.5%; /*Con esto se hace mas manejables los rem ya que 1rem=10px*/
    box-sizing: border-box; /*Se utiliza para el modelo caja y asi no se sumen los atributos: normales,padding,border y margin */
  
}
  *, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: var(--beige);
    min-height: 100vh;
    font-size: 1.6rem;
    width: 100%;
}
h1,h2,h3{
    margin: 0;;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}

/* Utilidades */

/*SideBar*/

aside{
    position: fixed;
    background-color:var(--gris);
    height: 100%;
    width: 28rem;
    top: 0;
    left: 0;   
    padding: 0.8rem 1.4rem; 
}
.BarraLateral .Contenedor-logo .logo{
    color: black;
    display: flex;
    height: 5rem;
    width: 100%;
    align-items: center;
    
}
.Contenedor-logo i{
    font-size: 3rem;
    margin-right: 0.5rem;
}
.Contenedor-logo .nombre-logo{
    font-size: 2.5rem;
    font-weight: 500;
}

/*  MAIN    */
main{
    margin: 1rem ;
}
